.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(63,94,251);
  background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
}

.generator{

  background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(245, 244, 244, 0.863);
  padding: 30px;
}
.generator__header{
  text-align: center;
  color: darkgreen;
  margin-bottom: 20px;
}
.generator__password{
  background-color:#308D46;
  padding: 13px 10px;
  color: #fff;
  margin-bottom: 15px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}
.copy__btn{
  color: #fff;
  background: #308D46;
  border: none;
  cursor: pointer;
}

.custom-num{
  margin: 0;
  color: #a551ad;
  display: flex;
  width: 3em;
  height: 5em;
  border: 2px #a551ad solid;
  border-radius: 3em;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.pw{
  font-size: 1em;
  text-align: center;
  background: none;
  border: none;
  color: #6f58d7;
}


.label-wrapper {
  display: flex;
  flex-direction: column;
}

.label-wrapper label {
  line-height: 100%; 
}

.pw:focus{
  outline: none;
}

.custom-num .arrow-icon{
  font-size: 1em;
  cursor: pointer;
}

.custom-num .arrow-icon:hover{
  font-size: 1.5em;
  transition: 0.3s;
}

.generator__btn{
  background: #308D46;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;

}

.generator__btn:hover {
  background-color: #a551ad;
}

.form-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gre;
  margin-bottom: 15px;
}